@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
    background-color: var(---dark);
}

.off{
    width: 100%;
    text-align: center;
    background-color:#A6FB98;
    padding: 1rem 0;
}
.off span{
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
}

.header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 10%;
    left: 0;
    right: 0;
    height: 9rem;
    background-color: var(---dark);
    z-index: 1000;
    width: 100%;
    transition: all 0.3s;
  }
  
  .header.fixed {
    position: fixed;
    top: 0;
    background-color: #030007c4;
    backdrop-filter: blur(10px);
  }
  

.header .container h3{
    color: var(---white);
}

.header .container span{
    color: var(---span);
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar{
    display: flex;
    align-items: center;
}

.header .navbar .list{
    display: flex;
    align-items: center;
    gap: 3.6rem;
    margin-right: 1rem;
}

.header .navbar .list li a{
    display: block;
    color: var(---white);
    transition: all 0.3s;
}

.header .navbar .list li a:hover{
    color: var(---contrast);
}

.menu-item:last-child{
    margin-right: 4.8rem;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: var(---white);
    transition: all 0.3s ease-in-out;
}


/* FINAL HEADER */


/* SECTION HERO */

.se-hero{
    padding: 10rem 0;
    margin-top: 8rem;
}

.se-hero .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.se-hero .content{
    width: 100%;
    max-width: 592px;
    padding-top: 4rem;
}

.se-hero .content h1{
    font-size: 4.5rem;
}

.se-hero .content p{
    color: var(---grey);
    width: 100%;
    font-size: 1.9rem;
    margin-top: 4rem;
}

.se-hero .content span{
    color: var(---span);
    font-size: 4.8rem;
}

.content .icon{
    width: 100%;
    max-width: 31.1rem;
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}
.icon a{
    font-size: 1.6rem;
    color: var(---white);
}

.se-hero .card-hero{
    background-color: var(---white);
    width: 100%;
    max-width: 40rem;
    border-radius: 4px;
}

.se-hero .card-hero .offer{
    padding-left: 3.2rem;
    display: flex;
    align-items: center;
    padding-top: 3.2rem;
    gap: 2.4rem;
}

.se-hero .card-hero .offer-card span{
    background-color: var(---dark);
    color: var(---white);
    padding: 2px 28px;
    border-radius: 4px;
}

.se-hero .card-hero .price{
    padding-left: 3.2rem;
    display: flex;
    align-items: center;
    padding-top: 3.6rem;
}


.p-price p:first-child{
    font-size: 2.4rem;
    text-decoration: line-through;
}

.p-price p:last-child{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 4.8rem;
}

.p-price h4{
    font-size: 72px;
}

.price .p-price .btn{
    display: inline-block;
    margin-top: 7.3rem;
    width: 100%;
    max-width: 40rem;
    text-align: center;
    align-items: center;
    margin-bottom: 0.4rem;
}


/* SECTION BENEFICIOS */

.benefi{
    padding: 8rem 0;
}

.benefi .container{
    display: flex;
    width: 100%;
}

.benefi .cards-benefi{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.benefi .cards-benefi .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 2.9rem;
    background-color: var(---dark-400);
    color: var(---white);
    width: 100%;
    max-width: 28rem;
    border-radius: 4px;
    transition: 0.3s;
}

.benefi .cards-benefi .card:hover{
    box-shadow: 1px 1px 1px 1px var(---contrast);
}

.benefi .cards-benefi .card h3{
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    font-size: 2rem;
}
.benefi .cards-benefi .card p{
    width: 100%;
    max-width: 20rem;
    font-weight: 400;
    color: var(---grey);
    font-size: 1.2rem;
}

/* SECTION CREATOR  */


.creator{
    padding: 8rem 0;
}

.creator .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.creator .box-info{
    background-color: var(---dark-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem ;
}

.creator .area-left{
    width: 100%;
}
.creator .area-left img{
    max-width: 450px;
    padding: 4.1rem;
}

.creator .area-left .box{
    position: relative;
    top: -383px;
    left: 50px;
    background-color: var(---white);
    width: 10rem;
    border-radius: 16px;
}
.creator .area-left .box h3{
    font-size: 0.8rem;
    text-align: center;
}

.creator .box-info .info{
    display: flex;
    flex-direction: column;
    color: var(---white);
}

.creator .box-info .info .i{
    font-size: 2rem;
    color: var(---contrast);
    margin-bottom: 0.8rem;
}

.creator .box-info .info h2{
    font-size: 4rem;
    margin-bottom: 0.4rem;
}

.creator .box-info .info .span-info{
    color: var(---grey);
    font-weight: 600;
    margin-bottom: 4rem;
}

.creator .box-info .info p{
    width: 85%;
    margin-bottom: 5.7rem;
}

.creator .box-info .sociais{
    display: flex;
    flex-wrap: wrap;
    gap: 5.6rem;
    align-items: center;
}

.creator .box-info .sociais img{
    background-color: var(---dark);
    
}

/* SECTION TECNOLOGIA */

.tecnology{
    padding: 8rem 0;
}

.tecnology .container{
    display: flex;
    width: 100%;
}

.tecnology .cards-tec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.tecnology .cards-tec .card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 2.9rem;
    background-color: var(---dark-400);
    color: var(---white);
    width: 100%;
    max-width: 28rem;
    border-radius: 4px;
    transition: 0.3s;
}

.tecnology .cards-tec .card:hover{
    box-shadow: 1px 1px 1px 1px var(---contrast);
}

.tecnology .cards-tec .card h3{
    margin-top: 3rem;
    margin-bottom: 1.6rem;
    font-size: 2rem;
}
.tecnology .cards-tec .card p{
    width: 100%;
    max-width: 20rem;
    font-weight: 400;
    color: var(---grey);
    font-size: 1.2rem;
}


/* SECTION GO */

.go{
    padding: 14rem 0 1rem 0;
}

.go-box{
    background-color: var(---dark-400);
    color: var(---white);
    display: flex;
    align-items: center;
    padding: 4rem 0;
    justify-content: space-between;
}

.go-box .area-left{
    padding-top: 2.6rem;
    width: 100%;
    max-width: 32.7rem;
    margin-left: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.go-box .area-left h3{
    font-size: 2.4rem;
}

.go-box .area-left h3 span{
    font-size: 2.4rem;
    color: var(---span);
}

.go-box .area-left p{
    margin-top: 3.2rem;
    color: var(---grey);
    text-decoration: line-through;
}

.go-box .area-left h2{
    margin-top: 0.8rem;
    font-size: 4rem;
    font-weight: 600;
}

.go-box .area-left .btn{
    width: 28.2rem;
    text-align: center;
    margin-top: 5.6rem;
}

.go-box .area-left p:last-child{
    text-decoration: none;
    font-size: 1.4rem;
    margin-top: 1.6rem;
}



.go .membros{
    display: flex;
    width: 100%;
    max-width: 50rem;
    flex-direction: column;
    padding-top: 6.9rem;
    padding-bottom: 4rem;
}

.go .membros h3{
    width: 100%;
    max-width: 34.7rem;
    margin-bottom: 4rem;
}

.go .membros .list-beneficios li{
    display: flex;
    gap: 2.1rem;
    margin-top: 1.6rem;
    align-items: center;
}

/* FOOTER */

.footer{
    margin-top: 9.2rem;
    background-color: var(---dark-400);
    width: 100%;
    color: var(---white);
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copy{
    font-size: 1.2rem;
}


.footer .copy span{
    font-size: 1.2rem;
}

.footer .power h4{
    font-size: 1.2rem;
}

.footer .power span{
    font-size: 1.2rem;
}
