@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;1,400;1,500;1,600&display=swap');

body{
    background-color: var(---dark);
}

.off{
    width: 100%;
    text-align: center;
    background-color:#A6FB98;
    padding: 1rem 0;
}
.off span{
    color: black;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
}
